encryption = "age"
[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age1xdy0gzzemwsanzhp9ugalcmjxw3kltsezcghd78yz0drpvcysgzshwye3e"

[git]
autoCommit = false
autoPush = false

[edit]
command = "nvim"

[add]
secrets = "error"
