{{ if eq .chezmoi.os "linux" -}}
source /usr/share/cachyos-fish-config/cachyos-config.fish
{{ end -}}

source ~/.config/fish/secrets.fish
_nvm_check

function fish_greeting
    true
end

set -gx EDITOR nvim
set --universal zoxide_cmd cd
set --export BUN_INSTALL "$HOME/.bun"

fish_add_path $HOME/bin
fish_add_path $HOME/.local/bin
fish_add_path /usr/local/bin
fish_add_path $HOME/.config/scripts
fish_add_path $HOME/.cargo/bin
fish_add_path $BUN_INSTALL/bin


bind ctrl-x,ctrl-e edit_command_buffer

alias fm=yazi
alias vim=nvim
alias weather="curl wttr.in"
alias icat="kitten icat"
alias cat=bat
alias che="chezmoi edit --apply"
alias chel="lazygit -p ~/.local/share/chezmoi/"
alias g=git
alias diff="nvim -d"
alias yas="yes | yay"
